node_modules
.pnp
.pnp.js
dist
npm-debug.log
*.pem
!mock-cert.pem
.env
coverage
lib
work
key.json
work/

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
coverage
.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# typescript
*.tsbuildinfo
next-env.d.ts

# next.js
.next/
out/

# production
/build

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# local env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local